body {
  text-align: center;
  background: #f4f4f4;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.board {
  width: 320px;
  height: 320px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  border: 10px solid #333;
  line-height: 0;
  background-color: azure;
}

.board div {
  width: 40px;
  height: 40px;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #000;
}
